@model Clinic.Domain.Models.ViewModels.Admin.Employee.EmployeeIndexViewModel

<div class="row">
    <table class="table table-sm table-bordered table-hover table-responsive-sm table-responsive-md">
        <thead>
            <tr>
                <th>Identificación</th>
                <th>Nombre Completo</th>
                <th>Fecha de Contratación</th>
                <th>Tipo de Empleado</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Metadata.TotalCount > 0)
            {
                @foreach (var emp in Model.Employees)
                {
                    <tr class="border pointer">

                        <input type="hidden" name="hdId" value="@emp.Id" />

                        <td>
                            @emp.Identification
                        </td>
                        <td>@emp.FullName</td>
                        <td>@emp.HireDate.ToShortDateString()</td>
                        <td>@emp.EmployeeRole.ToString()</td>
                        <td>
                            <div class="row">
                                @* Codigo comentado por posibilidad de reintegrar la funcionalidad *@
                                @* 
                                <div class="col-xl-6">
                                    @if (emp.EmployeeStatus == Clinic.Domain.Models.Enumerations.EmployeeStatus.Fired)
                                    {
                                        <button class="btn btn-info btn-block btn-sm" data-id="@emp.Id" id="btnActivate">Activar</button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-danger btn-block btn-sm" data-id="@emp.Id" id="btnFire">Despedir</button>
                                    }
                                </div>
                                *@
                                <div class="col-xl-12">
                                    <a asp-area="Admin" asp-controller="Employee" asp-action="Edit" asp-route-id="@emp.Id" class="btn btn-success btn-block btn-sm">Editar</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5" class="text-center"><span class="text-danger">No hay datos disponibles.</span></td>
                </tr>
            }
        </tbody>
    </table>
    <div class="col-sm-12">
        <a asp-area="Admin" asp-controller="Employee" asp-action="Create" class="btn btn-primary mb-2">Agregar Nuevo</a>
    </div>
    <div class="mr-auto ml-auto">
        @if (Model.Metadata.TotalCount > 0)
        {
            <nav>
                <ul class="pagination justify-content-center">
                    @{
                        string prevDisabled = (!Model.Metadata.HasPreviousPage) ? "disabled" : "";
                        string nextDisabled = (!Model.Metadata.HasNextPage) ? "disabled" : "";
                    }
                    <li class="page-item @prevDisabled">
                        <button class="page-link" href="#" tabindex="-1" aria-disabled="true" data-page="@Model.Metadata.PreviousPageNumber" id="btnPrevPage">Anterior</button>
                    </li>
                    @for (int i = 0; i < Model.Metadata.TotalPages; i++)
                    {
                        string currentDisabled = "";

                        if (Model.Metadata.CurrentPage == i + 1)
                        {
                            currentDisabled = "disabled";
                        }

                        <li class="page-item @currentDisabled"><button class="page-link" data-page="@(i+1)" id="btnPage">@(i+1)</button></li>
                    }
                    <li class="page-item @nextDisabled">
                        <button class="page-link" data-page="@Model.Metadata.NextPageNumber" id="btnNextPage">Siguiente</button>
                    </li>
                </ul>
            </nav>
        }
    </div>
</div>

