@model Clinic.Domain.Models.ViewModels.Admin.Employee.EmployeeListViewModel

<div class="row">
    <table class="table table-hover table-responsive-sm">
        <thead>
            <tr>
                <th>Identificación</th>
                <th>Nombre Completo</th>
                <th>Fecha de Contratación</th>
                <th>Rol</th>
                <th>Estado</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emp in Model.Employees)
            {
                <tr class="border">
                    <td>
                        @emp.Identification
                    </td>
                    <td>@emp.FullName</td>
                    <td>@emp.HireDate.ToShortDateString()</td>
                    <td>@emp.EmployeeRole.ToString()</td>
                    <td>@emp.EmployeeStatus.ToString()</td>
                    <td>
                        <div class="row">
                            <div class="col-xl-6">
                                @if (emp.EmployeeStatus == Clinic.Domain.Models.Enumerations.EmployeeStatus.Fired)
                                {
                                    <a href="#" class="btn btn-info btn-block">Activo</a>
                                }
                                else
                                {
                                    <a href="#" class="btn btn-danger btn-block">Despedir</a>
                                }
                            </div>
                            <div class="col-xl-6">
                                <a href="#" class="btn btn-success btn-block">Editar</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="col-sm-12">
        <a href="#" class="btn btn-primary mb-2">Agregar nuevo</a>
    </div>
    <div class="mr-auto ml-auto">
        <nav>
            <ul class="pagination justify-content-center">
                @{ 
                    string prevDisabled = (!Model.Metadata.HasPreviousPage) ? "disabled": "";
                    string nextDisabled = (!Model.Metadata.HasNextPage) ? "disabled" : "";
                }
                <li class="page-item @prevDisabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
                </li>
                @for (int i = 0; i < Model.Metadata.TotalPages; i++)
                {
                    string currentDisabled = "";

                    if (Model.Metadata.CurrentPage == i + 1)
                    {
                        currentDisabled = "disabled";
                    }

                    <li class="page-item @currentDisabled"><button class="page-link" data-page="@(i+1)" id="btnPage">@(i+1)</button></li>
                }
                <li class="page-item @nextDisabled">
                    <a class="page-link" href="#">Siguiente</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

